<form [formRoot]="form">
  <div class="form-fields">
    <mat-form-field class="method">
      <mat-label>Method</mat-label>
      <mat-select [formField]="form.method">
        @for (method of methods(); track method) {
          <mat-option [value]="method">{{ method }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="url">
      <mat-label>URL</mat-label>
      <input
        matInput
        type="text"
        aria-label="URL"
        [formField]="form.url"
        [matAutocomplete]="auto"
        placeholder="https://example.com"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <!-- @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      } -->
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button matButton="filled" type="submit">Call</button>
</form>
<pre>
  <code [highlight]="body() | json" language="json"></code>
</pre>
